<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.zyt.springbootlearning.dao.ProductMapper">

    <resultMap id="productMap" type="Product">
        <id property="id" column="id"/>
        <result property="productName" column="product_name"/>
        <result property="stock" column="stock"/>
        <result property="price" column="price"/>
        <result property="version" column="version"/>
        <result property="note" column="note"/>
    </resultMap>

    <!-- 出现超发现象，主要是因为共享资源（这里是stock）被多少个线程修改从而出现并发问题，
         这里使用for update的MySQL悲观锁来解决超发问题 -->
    <select id="getProduct" parameterType="long" resultMap="productMap">
        select id, product_name, stock, price, version, note
        from tb_product
        where id=#{id} for update
    </select>

    <insert id="insertProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
        insert into tb_product (
            product_name, stock, price, version, note
        ) values (
            #{productName}, #{stock}, #{price}, #{version}, #{note}
        )
    </insert>

    <update id="decreaseProduct">
        update tb_product set stock=stock-#{quantity}
        where id=#{id}
    </update>

    <update id="decreaseProductCAS">
        update tb_product set stock=stock-#{quantity}, version=version+1
        where id=#{id} and version=#{version}
    </update>
</mapper>